@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');
@import url(../style.css);



*{
    box-sizing: border-box;
}

:root{
    font-size: 14px;
}
body{

    font-family: 'Be Vietnam', sans-serif;
    margin: 0 ;

}
/*====================================
       for all 
====================================*/
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.row{
    display: flex;
}
a{
    text-decoration: none;
}
.nav-button{
    padding: 8px;
    width: 137px;
    height: 44px;
    border:none;
    background: #F3603C;
    color: #FFF;
    box-shadow: 0px 15px 15px -10px #FF9F8E;  
    border-radius: 22px;
    cursor: pointer;
}
.nav-button:hover{
    opacity: 30%;
}
/*=======================================
    navigation
=========================================*/
.navigation{
    padding: 18px 0;  
}
.navigation .row{
    justify-content: space-between;
    align-items: center;
}
.nav-menu-link{
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #242D52;
    padding: 0 20px;
    
}
.nav-menu-link:hover{
    opacity: 50%;
}
.nav-menu-link:after{
    content: '';
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;

}

.nav-menu-link:hover:after {
    transform: scaleX(1);
}
/*================================================================
                  intro
====================================================================*/

.intro .row    {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.intro::before{
    content: '';
    position: absolute;
    right: 0;
    top: -65px;
    width: 820px;
    height: 886px;
    background-image: url('../img/intro-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.column1{
    width: 50%;
}
.intro-img{
    width: 50%;
    background-repeat: no-repeat;
}
.intro-img img{
    width: 100%;
    margin: 0 auto;

}
.menu-toggle {
    display: none;
}
.intro-text h1{
    width: -1px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.5rem;
    color: #242D52; 
}

.intro-text-p{
    width: 341px;
    font-size: 1.28rem;
    line-height: 2rem;
    color: #242D52;

}
.intro-img{
    background-image:url(../img/Rectangle.png)
}


/*===========================================================================================
              What’s different about Manage?
=============================================================================================*/

.about{
    padding: 50px 0 ;
}
.about-intro{
   margin-left: 0px;
   width: 50%;
}
.about-intro h2{
    font-weight: bold;
    font-size: 3.8rem;
    line-height: 3.50rem;
    color: #242D52;
    margin-top: 0;
}
.about-intro p{
    width: 494px;
    font-size: 1.8rem;
    line-height: 2.9rem;
    color: #242D52;
}
.about-features{
    width: 50%;
}
.features-item-head{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.features-item-head h4 {
    font-weight: bold;
    font-size: 1.64rem;
    line-height: 2.6rem;
    color: #242D52;
    margin: 0px;
    margin-left: 22px;
    
}
.features-item-text{
   font-size: 1.8rem;
   line-height: 3.8rem;
   color: #242D52;
   margin: 0 22px;
}
.number{
    background: #F3603C;
    border-radius: 39px;
    width: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
}
/*==========================================================
              What they've said
============================================================*/
.container-what{
    max-width: 1110px;
    margin: 0 auto;
    overflow-X: hidden;
    padding-top: 40px;
}
.row-what{
    display: flex;
    justify-content: center;
    transform: translateX(25%);
}
.what{
    padding: 50px 0;
    
}
.what h2{
    text-align: center;
    margin-bottom: 114px;
}
.column{
    min-width: 450px;
    margin: 0 15px;
    position: relative;
    background-color: #FAFAFA;

}
.column-text{
    line-height: 1.7rem;
    color: #242D52;
    text-align: center;
    opacity: 0.5;
    padding: 50px 40px 40px 40px;
}
.colum-text ,h3{
    text-align: center;
    margin: 0px;
}
.what-img{ 
  position: absolute;   
  top:-36px;   
  left: calc(50% - 36px); 
  }
.btn{
  text-align: center;
  margin-top: 38px;
}

/*==============================================================
   get started

===============================================================*/
.container-get{
    max-width: 1110px;
    margin: 0 auto;
}
.row-get{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.get-started{
    background: #F3603C;
    padding: 65px 163px;
}
.get-started h2{
    width: 455px;
    height: 96px;
    font-weight: bold;
    font-size: 2.8rem;
    line-height:3.4rem;
    color: #fff;
    margin: 0;
}
.get-btn{
    background-color: #fff;
    color: #F3603C;
    padding: 8px;
    width: 137px;
    height: 44px;
    border:none;
    box-shadow: 0px 15px 15px -10px #FF9F8E;  
    border-radius: 22px;
    cursor: pointer;
   
}
.get-btn:hover{
    opacity: 90% ;
}
/*===========================================================
         footer

=============================================================*/
footer{
    padding: 116px;
    background-color: #1D1E25;
    
}

.foot-row{
    display: flex;
    position: relative;
    justify-content: space-between;
    
}
.footer-link{
    display: flex;
    justify-content: space-around;
    font-weight: normal;
    font-size: 1.07rem;
    line-height: 1.05rem;
    color: #FFFFFF;   
}
.foot-link{
    font-size:1.07rem ;
    line-height: 2.8rem;
    list-style-type: none; 
    cursor: pointer;
}
.foot-link:hover{
    color: #F3603C; 
}
.input{
    background-color: #fff;
    border-radius: 22px;
    width: 200px;
    height: 44px;
    border: none;
    padding: 8px 10px;
}
.submit-mail{
    background: #F3603C;
    border-radius: 22px;
    width: 64px;
    height: 44px;
    border: none;
    color:#fff;
    cursor: pointer;
}
.submit-mail:hover{
     opacity: 50%;  
}
.form{

    width: 327px;
    height: 44px;
    margin: 31px 200px 0;
}
.first-foot{
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;

}
.footer-socials{ 
    margin-top: 110px;
}
.copyright{
    position: absolute;
}