@media(max-width: 1199px) {
    .container{
        max-width: 930px;
    }
    .intro::before {
        width: 600px;
        background-size: contain;
        background-position: top;
    }
}

@media(max-width:991px){
    .container{
        padding: 0 30px;
    }
    .navigation .row{
        justify-content: space-between;
        display:flex;
    }
    .intro-img{
        width: 56%;
    }
    .intro-text h1{
        font-size:2.8rem; 
        line-height: 3rem;
    }
    /*.intro img{
        width: 92%;
    }
    .colum1{
        width: 100%;
    }*/
    p {
       opacity: 0.5;
    }
    .about .container{
        padding: 0;
    }
    .about-intro h2 {
        padding: 0 21px;
        font-size: 3rem;
        line-height: 3.2rem;
        text-align: center;
    }
    .about-intro p {
        width: 463px;
        line-height: 2.5rem;
        text-align: center; 
        margin: 0 auto 69px;    
    }
     .features-item-head h4{
         font-size: 1.4rem;
         line-height: 2.6rem;
          }
     .features-item-text p {
         line-height: 2.5rem ;
         font-size: 1.5rem;
          }
          .number{
              width: 68px;
              padding: 1rem;
          }
          .get-started{
              padding: 59px 133px;
          }
          .get-started h2{
              line-height: 3rem;
          }
          .footer .container{
              padding: 0;
          }
          .footer-list{
              margin: 0;
          }
      
}

@media(max-width:767px){
   .container{
        padding: 0 30px;
    } .nav-menu{
        display: none;
    }
    .nav-button{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    .intro .row{
        flex-direction: column-reverse;
    }
    .column1{
        width: 100%;
    }
    .intro-img {
        width: 76%;
    }
    .intro img {
        width: 84%;
    }
    .intro-text{
       text-align: center;
    }
    .intro-text-p {
        width: unset;}
    .about .row{
        flex-direction: column;
    }
    .about-intro{
        width: 100%;
    }

    .about-intro h2 {
        padding: 0 120px;
    }
    .about-intro p {
        width: 509px;
        margin: 0 auto 69px;
    }
    .about .container {
            padding: 0 25px;
    }
    .about-features{
        width: 400px;
        margin: 0 151px
    }
    .column{
        margin: 22px 136px;
        width: 500px
    }
    .row-what{
        flex-direction: column ;
        transform: translate(0);
    }
    .row-get{
        flex-direction: column;
    }
    .get-started {
        padding: 43px 125px;
    }
    .get-started h2 {
        line-height: 4rem;
        font-size: 3.8rem;
    }
    .get-btn{
        margin-top: 100px;
    }
    .footer {
        text-align: center;
    }
    .footer .row{
        flex-direction: column-reverse;
    }

 } 
 
@media(max-width:575px){
    .intro-text h1{
        font-size: 2.1rem;
        line-height: 2.5rem;
    }
    .about-intro h2{
        padding: 0 85px;
        font-size: 2rem;
        line-height: 2.2rem;
    }
    
    .about-intro p{
        font-size :1.5rem;
        line-height: 2rem;
        width: 463px;
        margin: 0 auto 65px;
    }
    .about-features{
        margin: 0 50px;
    }
    .number{
        height: 10px;
    }
    .features-item-head h4{
        font-size: 1rem;
    }
    .column{
        margin: 12px 40px;
    }
    .footer-list{
        width: 148px;
    }
}


@media(max-width:488px){
    .column {
        margin: 12px 10px;
    }
     .footer .container {
            padding: 0 20px;
        }
    .intro-text h1 {
        font-size: 1.8rem;
    
    }.intro-text {
        width: 64%;}
       
 .about-intro p {
    width: 374px;
    line-height: 1.58em;
    text-align: center;
    margin: 0 auto 13px;
  }
 .features-item-head h4 {
 font-size: 1.0rem;
 }
 .what .column{
    width: 91px;
 }
 .container-what{
  padding: 0 5px;
  }
  .form{
    margin: 26px 50px;
    width: 288px;
    height: 19px;
  }
}